name: CI

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run format:check
      - run: npm run lint
      - run: npm run build
      - run: npm run coverage
      - if: matrix.node-version == '12.x'
        uses: actions/upload-artifact@v2
        with:
          name: Code coverage
          path: coverage/
      - if: matrix.node-version == '12.x'
        run: npm run docs
      - if: matrix.node-version == '12.x'
        uses: actions/upload-artifact@v2
        with:
          name: Documentation
          path: docs/
      - name: Deploy Docs
        if: github.ref == 'refs/heads/master' && matrix.node-version == '12.x'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
